# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories (remove the comment below to include it)
# vendor/


### Erik's ignore #############################################################

# Ignores the whole .idea folder (Jetbrains) and all .iml files
.idea/

*.txt
*.json

# archive or compressed files
*.tar.bz2
*.tar.gz
*.tar.xz
*.tar.7z
*.bz2
*.rar
*.gz
*.tar
*.tbz2
*.tgz
*.zip
*.Z
*.7z
*.jar
